apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: calibre
  namespace: media
spec:
  interval: 1m
  chart:
    spec:
      chart: calibre
      version: 5.4.x
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
  values:
    image:
      repository: linuxserver/calibre # {"$imagepolicy": "flux-system:calibre:name"}
      tag: 8.16.0 # {"$imagepolicy": "flux-system:calibre:tag"}
      pullPolicy: IfNotPresent
    service:
      webserver:
        enabled: true
    ingress:
      # -- Enable and configure ingress settings for the chart under this key.
      # @default -- See values.yaml
      main:
        enabled: true
        ingressClassName: traefik
        hosts:
          - host: calibre.nmoura.pt
            paths:
              - path: /
      annotations:
        kubernetes.io/ingress.class: traefik
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      tls:
        secretName: nmoura-pt-tls
        hosts:
          - calibre.nmoura.pt
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /config
        nameOverride: config
        readOnly: false
        accessMode: ReadWriteOnce
        size: 5Gi
        retain: true
      books:
        enabled: true
        mountPath: /books
        existingClaim: pvc-calibre-synology
