apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: media
spec:
  interval: 1m
  chart:
    spec:
      chart: prowlarr
      #version: 5.1.x
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
  valuesFrom:
  - kind: Secret
    name: prowlarr-secrets
    valuesKey: values.yaml
  values:
    image:
      repository: ghcr.io/hotio/prowlarr # {"$imagepolicy": "flux-system:prowlarr:name"}
      tag: release-2.3.0.5236 # {"$imagepolicy": "flux-system:prowlarr:tag"}
      pullPolicy: IfNotPresent
    env:
      PROWLARR__POSTGRES__HOST: "192.168.202.1"
      PROWLARR__POSTGRES__PORT: "10005"
      PROWLARR__AUTH__METHOD: "External"
      PROWLARR__AUTH__REQUIRED: "DisabledForLocalAddresses"
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /config
        nameOverride: config
        readOnly: false
        accessMode: ReadWriteOnce
        size: 5Gi
        retain: true
    ingress:
      main:
        enabled: true
        ingressClassName: traefik
        hosts:
        - host: indexer.nmoura.pt
          paths:
          - path: /
      annotations:
        kubernetes.io/ingress.class: traefik
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      tls:
        secretName: nmoura-pt-tls
        hosts:
        - indexer.nmoura.pt
