apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 1m
  chart:
    spec:
      chart: cert-manager
      version: 1.15.x
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
  values:
    image:
      repository: quay.io/jetstack/cert-manager-controller # {"$imagepolicy": "flux-system:certmanager:name"}
      tag: v1.19.2 # {"$imagepolicy": "flux-system:certmanager:tag"}
    crds:
      enabled: true
      keep: true
